<!-- 
  Author: Taera Kwon (300755802)
  File Name: projects.ejs
  Website Name: Projects | Taera
  Description:  This is the projects page '/project'
                This page contains a list of development projects that 
                I have accompished & currently participating
-->

<% include ../partials/header.ejs %>
<div class="container-fluid body" id="projects">
  <div class="row">
    <div class="col-md-offset-0 col-md-0">
      <div class="bodyContainer projects text-center">      
        <h2><b>List of Projects<b></h2><br>
        <!-- IN PROGRESS SECTION -->
        <p class="animated pulse infinite"><b><i>In Progress</b></i></p>
        <!-- Under ordered list for In Progress -->
        <ol>        
          <li><a href="#" data-toggle="tooltip" title="<%= project_progress_1 %>" class="hvr-shrink">Developing Math tutoring application for Android devices.</a></li>
          <li><a href="#" data-toggle="tooltip" title="<%= project_progress_2 %>" class="hvr-shrink">Dynamic Java Web Application that perform CRUD operations to MySQL DB</a></li>
          <li><a href="#" data-toggle="tooltip" title="<%= project_progress_3 %>" class="hvr-shrink">Developing Portfolio Website using MEAN</a></li>
        </ol>        
        <br>
        <!-- COMPLETED SECTION -->
        <p class="animated pulse infinite"><b><i>Completed</b></i></p>
        <!-- Under ordered list for In Progress -->        
        <ol>        
          <li data-target="tooltip" title="<%= project_completed_1 %>"><a href="#" class="hvr-shrink">Developed VBA application for MCSS (Ministry of Children and Social Services)</a></li>
          <li><a href="#" data-target="#modal_viewer"data-toggle="modal" title="<%= project_completed_2 %>" class="hvr-shrink">3D Pacman game was created using Unity for Game Programming</a></li>
        </ol>   
      </div> <!-- bodyContainer projects -->
    </div> <!-- .col-md-offset-3 col-md-6 -->
  </div> <!-- .row -->
</div> <!-- .container -->
<% include ../partials/modalviewer.ejs %>
<% include ../partials/footer.ejs %>
