<!-- 
  Author: Taera Kwon (300755802)
  File Name: views/services.ejs
  Website Name: Projects | Taera
  Description:  This is the projects page '/services'
                This page contains a list of services that I offer
-->

<% include ../partials/header.ejs %>
<div class="container-fluid body" id="services">
  <div class="row">
    <div class="col-md-offset-0 col-md-0">
      <div class="bodyContainer services text-center">
        <h2><b>List of services that I can currently offer<b></h2><br>
        <ol>
          <li><a href="#" data-toggle="tooltip" title="<%= service_1 %>" class="hvr-skew">Game Development</a></li>
          <li><a href="#" data-toggle="tooltip" title="<%= service_2 %>" class="hvr-skew">Mobile Application Development</a></li>
          <li><a href="#" data-toggle="tooltip" title="<%= service_3 %>" class="hvr-skew">Personal Webpage Development</a></li>          
          <li><a href="#" data-toggle="tooltip" title="<%= service_4 %>" class="hvr-skew">Macro Development</a></li>
          <li><a href="#" data-toggle="tooltip" title="<%= service_5 %>" class="hvr-skew">System Integration / Development</a></li>
          <li><a href="#" data-toggle="tooltip" title="<%= service_6 %>" class="hvr-skew">Automation Testing</a></li>
          <li><a href="#" data-toggle="tooltip" title="<%= service_7 %>" class="hvr-skew">Manual Testing</a></li>
        </ol>
      </div> <!-- .bodyContainer services -->
    </div> <!-- .col-md-offset-3 col-md-6 -->
  </div> <!-- .row -->
</div> <!-- .container -->
<% include ../partials/footer.ejs %>